

<div *ngIf="loading">
    <p>Loading users...</p>
  </div>
  
  <div *ngIf="error">
    <p class="error">{{ error }}</p>
  </div>
  
  <table border="1">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Grade</th>
        <th>GPA</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.grade }}</td>
        <td>{{ user.gpa | number:'1.1-2' }}</td>
      
       <!-- <a routerLink="/user/{{ user.id }}"><td>Edit</td></a> -->
      </tr>
    </tbody>
  </table>
  
  <p *ngIf="!loading && users.length === 0">No users available.</p>
  
<router-outlet></router-outlet>
